html {
    font-family: 'Public Sans', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 129px 21px;
}

.pinturas .pintura {
    width: 330px;
    height: 432px;
    position: relative;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .informacoes {
    position: absolute;
    color: #FFFFFF;
    bottom: 43px;
    left: 26px;
}

.pinturas .pintura .titulo{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 6px;
}

.pinturas .pintura .subtitulo{
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 43px;
}








/* .container {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 129px 21px;
    position: relative;
}

.container div {
    position: relative;
    display: inline-block;
}

.container .lista-quadros {
    background-color: rgb(207, 33, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .lista-quadros .quadro img {
    background-color: black;
    width: 335px;
    height: 432px;
    padding: 0 20px 0 0;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
}

.container .lista-quadros .quadro h1, p {
    position: absolute;    
}

.container .lista-quadros .quadro h1 {
    font-size: 30px;
    font-weight: 700;
}

.container .lista-quadros .quadro p {
    font-size: 17px;
    font-weight: 300;

    bottom: 40px;
} */